absl-py==0.11.0
astor==0.8.1
click==7.1.2
coloredlogs==15.0
decorator==4.4.2
dnspython==2.1.0
Flask==1.1.2
Flask-HTTPAuth==4.2.0
func-timeout==4.3.5
future==0.18.2
geneticalgorithm==1.0.2
humanfriendly==9.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
miniutils==1.0.3
mongoengine==0.22.1
munkres==1.1.4
numpy==1.19.5
ortools==8.1.8487
pragma==0.2.4
protobuf==3.14.0
PyContracts==1.8.12
pymongo==3.11.2
pyparsing==2.4.7
pyreadline==2.1
scipy==1.6.0
six==1.15.0
tqdm==4.56.0
Werkzeug==1.0.1
